{% extends 'cinemaApp/base.html' %} 

{% block content %}
    {% if user.is_staff %}
        <div class="shadow p-4 mb-5 bg-body">
            <center>
                <h1>Add Session</h1>
            </center>
                <br/>
                {% if submitted %}
                    Session was added successfully!
                {% else %}
                <form action="" method=POST id="addSessionForm" enctype="multipart/form-data" data-hall-url = "{% url 'ajax_load_halls' %}">
                    {% csrf_token %}
                    {% load bootstrap4 %}
                    {% bootstrap_javascript jquery='full' %}
                    {{ form.as_p }}
                    {{ form.media }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input type="submit", value="Submit", class="btn btn-primary">
                    </div>
                </form>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script>
                    $("#id_cinema").change(function () {
                        const url = $("#addSessionForm").attr("data-hall-url");
                        const cinemaId = $(this).val(); 
                        $.ajax({                       
                            url: url,                  
                            data: {
                                'cinema_id': cinemaId
                            },
                            success: function (data) {  
                                $("#id_hall").html(data); 
                            }
                        });
                    });
                </script>
                {% endif %}
        </div>
    {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
            <strong>Permission Denied!</strong> You must log in as an admin to access this page!
            </div>
        </div>
    {% endif %}
{% endblock %}
